---
---

body {
    margin: 0;
    background-color: #fffcf4;
    font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}

a {
    color: #2f2f2f;
    text-decoration: none;
    border-bottom: 2px solid #4b75c3;
}

a:hover {
    border-bottom: 2px solid #c3774b;
}


li p {
    margin: 8px 0;
}

ul {
    padding-left: 35px;
    margin: 0;
}

h1, h2 {
    font-weight: 100;
    margin-bottom: 10px;
}

hr {
    border: 0;
    border-top: 1px solid #c2c2c2;
}

.content {
    max-width: 600px;
    margin: auto;
    font-size: 20px;
    color: #2f2f2f;
    line-height: 1.4;
    padding: 0 10px;
    text-align: justify;

    img {
        width: 100%;
        border-radius: 4px;
    }
}


.header {
    font-weight: normal;
    font-size: 72px;

    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    padding-top: 25px;

    a {
        border-bottom: 0;
    }

    a:hover {
        border-bottom: 2px solid #c3774b;
    }

    p {
        font-size: 18px;
        color: #8f8f8f;
        font-style: italic;
    }
}


.footer {
    max-width: 600px;
    margin: auto;
    font-size: 16px;
    font-style: italic;
    color: #8d8d8d;
    padding: 25px 10px;
    text-align: center;
}